/* css reset */

*,
*::after,
* ::before {
    margin: 0;
    padding: 0;
    /* box-sizing isn't usually inheritable so we must set it */
    box-sizing: inherit;
    padding: 0.8rem;
}

/* This way it is more accessible by percentage depending on user css */
html {
    font-size: 62.5%;
}


