/* 
keyframes defines an animation rule which changes at specific times/points */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(0.1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-0.1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* css reset */
*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  /* box-sizing isn't usually inheritable so we must set it */
  box-sizing: inherit;
  padding: 0.8rem;
}

/* This way it is more accessible by percentage depending on user css */
html {
  font-size: 62.5%;
}

.heading-primary {
  backface-visibility: hidden;
}
.heading-primary--main { /* Modifier */
  color: #608991;
  display: block;
  font-size: 7.2rem;
  letter-spacing: 0.32rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-transform: normal;
  text-align: start;
  font-family: "Cedarville Cursive";
  font-weight: 900;
  display: inline-block;
  padding-left: 0;
}
.heading-primary__sub { /* Element */
  color: #959595;
  display: block;
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
  animation: moveInRight 1s ease-out;
  font-family: "Work Sans", sans-serif;
}
.heading-primary__sub-sub { /* Element */
  margin-top: 0.8rem;
  color: #848383;
  display: block;
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.32rem;
  padding: 0;
  animation: moveInRight 1s ease-out;
}
.heading-primary--sub-hobbies { /* Modifier */
  font-size: 2.2rem;
  display: inline-block;
  padding: 0;
  margin-top: 1.6rem;
}

.italics {
  font-style: italic;
}

/* Inherit font settings from body */
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #608991;
  box-sizing: border-box;
}

/* the anchor tag is treated like text - so you can use text-align of its parent */
/* link is a state of an anchor tag */
/* link means an anchor is blue unvisited, and visited it turns purple
after it is clicked in as a default colour. */
.btn:link, .btn:visited {
  text-transform: normal;
  text-decoration: none;
  padding: 0px 1.2rem;
  display: inline-block;
  margin: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.209); /* Simple shadow */
  transition: all 0.2s; /* Transition applied to all CSS properties */
}
.btn:hover {
  transform: translateY(-0.08rem);
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translateY(0.05rem);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
}
.btn--grey {
  color: rgb(103, 103, 103);
  background-color: #ebebeb;
  border-radius: 1.6rem;
  font-weight: 350;
}
.btn--contact-me {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
  font-size: 2.4rem;
  background-color: #d9b224;
  border-radius: 1.6rem;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  text-align: center;
  display: inline-block;
  margin-top: 1.6rem;
  line-height: 1.2;
}
.btn--contact-me-arrow {
  font-size: 3.2rem;
  font-weight: 700;
  vertical-align: middle; /* Vertically align to middle of the text */
  padding: 0;
}
.btn--contact-me:hover {
  color: white;
  font-weight: 700;
  background-color: #c9a41f;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.209); /* Simple shadow */
  transition: all 0.2s; /* Transition applied to all CSS properties */
}
.btn--contact-me:hover, .btn--contact-me:active {
  font-weight: 700;
  text-decoration-thickness: 0.3rem;
}

.header {
  height: 75vh;
  /* background-image: linear-gradient(to right,rgba(82, 117, 124, 0.877),rgba(113, 162, 170, 0.931)),url(../img/madrid-street.jpg); */
  /* https://unsplash.com/photos/road-between-houses-Zy-W7KWEyFE?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
  /* covers entire header element space */
  /* background-size: cover; */
  /* keeps top of the image at the top when resized viewport */
  /* background-position: top; */
  border-radius: 1.6rem;
  /* this is the origin from where left and top are counted for logo-box */
  position: relative;
}
.header__logo-box {
  /* //absolute position based on parent - header */
  position: absolute;
}
.header__logo {
  height: 15.6rem;
  border-radius: 1.6rem;
  top: 10%;
  left: 40%;
}
.header__text-box {
  /* position absolute is in reference to parent element - which needs a position: relative, absolute, fixed, or sticky */
  position: absolute;
  top: 45%;
  left: 50%;
  /* this moves the element relative to current position -40% of its own width to the left and its own height upwards */
  transform: translate(-50%, -40%);
  /* the anchor tag is treated like text - so you can use text-align of its parent */
  text-align: start;
  width: 90%; /* Adjust as needed */
  max-width: 1024px; /* Optional: To prevent it from becoming too wide on large screens */
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #eee;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background-color: blue;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 3 * 6rem) / 4);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

/*# sourceMappingURL=style.css.map */
