$color-primary-dark-blue: #608991;
$color-primary-medium-blue: #8AC6D1;
$color-CTA-peach: #FFB6B9;
$color-bold-grey-text: #959595;
$color-paragraph-grey-text: #565656;
$color-white-text: white;

$shadow-color-grey: rgba(0, 0, 0, 0.209);

$h1-heading-font:"Cedarville Cursive";
$h1-subheadings-paragraphs-font:"Outfit", sans-serif;

